<style>
  .hero {
    background-image: url("{{ 'hero_img.png' | file_img_url: "master" }}");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
</style>

<div class="hero h-[90vh] w-full flex items-center md:items-end justify-center">
  <div class="w-[80%] md:w-1/2 mb-16 text-white text-center">
    <h2 class="calvino font-[700] text-[20px] md:text-[24px]">Gorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate libero et velit interdum.</h2>
    <p class="text-base md:text-lg mb-4">Discover our selection</p>
    <button class="bg-[#000] hover:bg-gray-900 cursor-pointer text-white py-2 px-4">Shop now</button>
  </div>
</div>